<div class="main">
  <app-header></app-header>
  <div
    *ngIf="isInvalidCredentials"
    class="alert alert-danger alert-dismissible fade show"
    id="modal"
    role="alert"
  >
    Email Already Exists
    <button
      (click)="toggleInvalidCredential()"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <form
    class="container form-group card bg-black login_form needs-validation"
    (ngSubmit)="signup()"
    novalidate
  >
    <div id="register" class="text-center text-white input-group">
      <span> Register with Us </span>
    </div>

    <input
      required
      [(ngModel)]="name"
      type="text"
      class="form-control"
      name="name"
      placeholder="Full Name"
    />
    <div class="messageText" *ngIf="isNameValid">* Required</div>

    <input
      required
      [(ngModel)]="email"
      type="email"
      class="form-control"
      name="email"
      placeholder="email"
    />
    <div class="messageText" *ngIf="!isEmailValid">
      * {{ invalidEmailMessage }}
    </div>

    <input
      required
      [(ngModel)]="password"
      type="password"
      class="form-control"
      name="password"
      placeholder="password"
    />
    <div class="messageText" *ngIf="!isPasswordValid">
      * {{ invalidPasswordMessage }}
    </div>
    <input
      required
      [(ngModel)]="confirmPassword"
      type="password"
      class="form-control"
      name="password"
      placeholder="confirm password"
    />
    <div class="messageText" *ngIf="!isPasswordNotMatched">
      * Password does not matched
    </div>
    <button type="submit" class="btn p-2 bg-green text-white button">
      Register
    </button>
  </form>
</div>
